[submodule "core/p2p/kademlia"]
	path = core/p2p/kademlia
	url = https://github.com/jontab/kademlia-c.git
[submodule "core/p2p/kcp"]
	path = core/p2p/kcp
	url = https://github.com/skywind3000/kcp.git
